Source: bsp-cuboxi
Section: admin
Priority: extra
Maintainer: Josua Mayer <josua@solid-run.com>
Build-Depends: debhelper (>= 9)
Standards-Version: 3.9.6
Homepage: <insert the upstream URL, if relevant>

Package: bsp-cuboxi
Architecture: any
Depends: firmware-imx, cuboxi-firmware-wireless
Description: SolidRun i.MX6 BSP
 Pull-in package for essential Board-Support on SolidRun i.MX6 devices.
