#!/usr/bin/make -f
# -*- makefile -*-
# Sample debian/rules that uses debhelper.
# This file was originally written by Joey Hess and Craig Small.
# As a special exception, when this file is copied by dh-make into a
# dh-make output file, you may use that output file without restriction.
# This special exception was added by Craig Small in version 0.37 of dh-make.

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

export DESTDIR_BSP=$(CURDIR)/debian/bsp-cuboxi
export DESTDIR_BOOTSCR=$(CURDIR)/debian/sr-imx6-bootscript
export DESTDIR_IMX8=$(CURDIR)/debian/bsp-solidrun-imx8

%:
	dh $@ 

override_dh_auto_build:
	mkimage -A arm -O linux -T script -C none -a 0 -e 0 -d boot.txt boot.scr

override_dh_auto_install:
	# i.MX6
	install -v -m755 -D initramfs.imx-sdma.sh $(DESTDIR_BSP)/etc/initramfs-tools/hooks/imx-sdma
	install -v -m644 -D imx-hdmi-soc.conf $(DESTDIR_BSP)/usr/share/alsa/cards/imx-hdmi-soc.conf
	install -v -m644 -D imx-spdif.conf $(DESTDIR_BSP)/usr/share/alsa/cards/imx-spdif.conf
	install -v -m644 -D boot.scr $(DESTDIR_BOOTSCR)/boot/boot.scr

	# i.MX8
	install -v -m644 -D flash-kernel/db $(DESTDIR_IMX8)/etc/flash-kernel/db

override_dh_installudev:
	dh_installudev --name=imx6
