#!/usr/bin/make -f
# -*- makefile -*-
# Sample debian/rules that uses debhelper.
# This file was originally written by Joey Hess and Craig Small.
# As a special exception, when this file is copied by dh-make into a
# dh-make output file, you may use that output file without restriction.
# This special exception was added by Craig Small in version 0.37 of dh-make.

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

export DEBIAN_IS_BUSTER := 0
export DEBIAN_IS_BUSTER_OR_EARLIER := 0
export DEBIAN_IS_STRETCH := 0
export DEBIAN_IS_STRETCH_OR_EARLIER := 0
export DEBIAN_VERSION := $(shell cat /etc/debian_version)
export DEBIAN_VERSION_MAJOR := $(word 1, $(subst ., ,$(DEBIAN_VERSION)))
export DEBIAN_VERSION_MINOR := $(word 2, $(subst ., ,$(DEBIAN_VERSION)))
ifeq ($(DEBIAN_VERSION_MAJOR),12)
export DEBIAN_IS_BOOKWORM := 1
export DEBIAN_IS_BOOKWORM_OR_EARLIER := 1
export DEBIAN_IS_BULLSEYE_OR_EARLIER := 1
export DEBIAN_IS_BUSTER_OR_EARLIER := 1
endif
ifeq ($(DEBIAN_VERSION_MAJOR),11)
export DEBIAN_IS_BULLSEYE := 1
export DEBIAN_IS_BULLSEYE_OR_EARLIER := 1
export DEBIAN_IS_BUSTER_OR_EARLIER := 1
endif
ifeq ($(DEBIAN_VERSION_MAJOR),10)
export DEBIAN_IS_BUSTER := 1
export DEBIAN_IS_BUSTER_OR_EARLIER := 1
endif
ifeq ($(DEBIAN_VERSION_MAJOR),9)
export DEBIAN_IS_STRETCH := 1
export DEBIAN_IS_STRETCH_OR_EARLIER := 1
export DEBIAN_IS_BUSTER_OR_EARLIER := 1
endif

export DESTDIR_BOOTSCR=$(CURDIR)/debian/sr-imx6-bootscript
export DESTDIR_IMX6=$(CURDIR)/debian/bsp-solidrun-imx6
export DESTDIR_IMX8=$(CURDIR)/debian/bsp-solidrun-imx8
export DESTDIR_A38X=$(CURDIR)/debian/bsp-solidrun-a38x
export DESTDIR_8040=$(CURDIR)/debian/bsp-solidrun-8040
export DESTDIR_LX2K=$(CURDIR)/debian/bsp-solidrun-lx2k
export DESTDIR_CN913=$(CURDIR)/debian/bsp-solidrun-cn913

%:
	dh $@ --with=config-package

override_dh_clean:
	dh_auto_clean
	rm -f boot.imx6.scr
	rm -f debian/bsp-solidrun-imx6.displace debian/bsp-solidrun-imx6.triggers

override_dh_auto_build:
	mkimage -A arm -O linux -T script -C none -a 0 -e 0 -d boot.imx6.txt boot.imx6.scr
ifeq ($(DEBIAN_IS_BULLSEYE_OR_EARLIER),1)
	cp -v debian/bsp-solidrun-imx6.displace.buster debian/bsp-solidrun-imx6.displace
	cp -v debian/bsp-solidrun-imx6.triggers.buster debian/bsp-solidrun-imx6.triggers
endif

override_dh_auto_install:
	# i.MX6 transitional boot-script for splitting out -eMMC DTB variants
	install -v -m644 -D boot.imx6.scr $(DESTDIR_BOOTSCR)/boot/boot.scr

	# i.MX6
ifeq ($(DEBIAN_IS_BUSTER_OR_EARLIER),1)
	install -v -m644 -D flash-kernel/db $(DESTDIR_IMX6)/etc/flash-kernel/db.bsp
	install -v -m755 -D initramfs-tools/imx-sdma.sh $(DESTDIR_IMX6)/etc/initramfs-tools/hooks/imx-sdma
	install -v -m644 -D imx-hdmi-soc.conf $(DESTDIR_IMX6)/usr/share/alsa/cards/imx-hdmi-soc.conf
	install -v -m644 -D imx-spdif.conf $(DESTDIR_IMX6)/usr/share/alsa/cards/imx-spdif.conf
endif
ifeq ($(DEBIAN_IS_BUSTER),1)
	install -v -m644 -D apt-preferences/bsp-solidrun-imx6.buster $(DESTDIR_IMX6)/etc/apt/preferences.d/bsp-solidrun-imx6
endif
ifeq ($(DEBIAN_IS_BULLSEYE),1)
	install -v -m644 -D flash-kernel/db $(DESTDIR_IMX6)/etc/flash-kernel/db.bsp
	install -v -m644 -D apt-preferences/bsp-solidrun-imx6.bullseye $(DESTDIR_IMX6)/etc/apt/preferences.d/bsp-solidrun-imx6
endif
ifeq ($(DEBIAN_IS_BOOKWORM),1)
	install -v -m644 -D flash-kernel/db $(DESTDIR_IMX6)/etc/flash-kernel/db.bsp
	install -v -m644 -D apt-preferences/bsp-solidrun-imx6.bookworm $(DESTDIR_IMX6)/etc/apt/preferences.d/bsp-solidrun-imx6
endif

	# i.MX8
	install -v -m644 -D flash-kernel/db $(DESTDIR_IMX8)/etc/flash-kernel/db.bsp
	install -v -m644 -D flash-kernel/boot.imx8.txt $(DESTDIR_IMX8)/etc/flash-kernel/bootscript/imx8
	install -v -m644 -D apt-preferences/bsp-solidrun-imx8 $(DESTDIR_IMX8)/etc/apt/preferences.d/bsp-solidrun-imx8
	install -v -m755 -D initramfs-tools/ath10k-fw.sh $(DESTDIR_IMX8)/etc/initramfs-tools/hooks/ath10k-fw
	install -v -m644 -D firmware/Silex_OG_BE_FIX.bin $(DESTDIR_IMX8)/lib/firmware/ath10k/QCA6174/hw3.0/board.bin
	install -v -m755 -D initramfs-tools/imx-sdma.sh $(DESTDIR_IMX8)/etc/initramfs-tools/hooks/imx-sdma
	install -v -m644 -D firmware/brcmfmac43455-sdio.txt $(DESTDIR_IMX8)/lib/firmware/brcm/brcmfmac43455-sdio.solidrun,hummingboard-pulse.txt
	install -v -m644 -D firmware/brcmfmac43455-sdio.txt $(DESTDIR_IMX8)/lib/firmware/brcm/brcmfmac43455-sdio.txt
	install -v -m644 -D firmware/BCM4345C0.hcd $(DESTDIR_IMX8)/lib/firmware/brcm/BCM4345C0.hcd
	install -v -m755 -D initramfs-tools/wireless-regdb.sh $(DESTDIR_IMX8)/etc/initramfs-tools/hooks/wireless-regdb
	install -v -m755 -D initramfs-tools/bcmbt-fw.sh $(DESTDIR_IMX8)/etc/initramfs-tools/hooks/bcmbt-fw

	# A38X
	install -v -m644 -D flash-kernel/db $(DESTDIR_A38X)/etc/flash-kernel/db.bsp
	install -v -m644 -D apt-preferences/bsp-solidrun-a38x $(DESTDIR_A38X)/etc/apt/preferences.d/bsp-solidrun-a38x
	install -v -m644 -D flash-kernel/armada-385-clearfog-gtr-l8.dtb $(DESTDIR_A38X)/etc/flash-kernel/dtbs/armada-385-clearfog-gtr-l8.dtb
	install -v -m644 -D flash-kernel/armada-385-clearfog-gtr-s4.dtb $(DESTDIR_A38X)/etc/flash-kernel/dtbs/armada-385-clearfog-gtr-s4.dtb

	# 8040
	install -v -m644 -D flash-kernel/db $(DESTDIR_8040)/etc/flash-kernel/db.bsp

	# LX2K
	install -v -m644 -D flash-kernel/db $(DESTDIR_LX2K)/etc/flash-kernel/db.bsp

	# CN913x
	install -v -m644 -D flash-kernel/db $(DESTDIR_CN913)/etc/flash-kernel/db.bsp
	install -v -m644 -D flash-kernel/cn9130-cex7.dtb $(DESTDIR_CN913)/etc/flash-kernel/dtbs/cn9130-cex7.dtb
	install -v -m644 -D flash-kernel/cn9130-cf-base.dtb $(DESTDIR_CN913)/etc/flash-kernel/dtbs/cn9130-cf-base.dtb
	install -v -m644 -D flash-kernel/cn9130-cf-pro.dtb $(DESTDIR_CN913)/etc/flash-kernel/dtbs/cn9130-cf-pro.dtb
	install -v -m644 -D flash-kernel/cn9131-cex7.dtb $(DESTDIR_CN913)/etc/flash-kernel/dtbs/cn9131-cex7.dtb
	install -v -m644 -D flash-kernel/cn9132-cex7.dtb $(DESTDIR_CN913)/etc/flash-kernel/dtbs/cn9132-cex7.dtb

override_dh_installudev:
ifeq ($(DEBIAN_IS_BUSTER_OR_EARLIER),1)
	dh_installudev --name=imx6
endif
	dh_installudev --name=imx8
