#!/usr/bin/make -f
# -*- makefile -*-
# Sample debian/rules that uses debhelper.
# This file was originally written by Joey Hess and Craig Small.
# As a special exception, when this file is copied by dh-make into a
# dh-make output file, you may use that output file without restriction.
# This special exception was added by Craig Small in version 0.37 of dh-make.

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

export DESTDIR_BOOTSCR=$(CURDIR)/debian/sr-imx6-bootscript
export DESTDIR_IMX6=$(CURDIR)/debian/bsp-solidrun-imx6
export DESTDIR_IMX8=$(CURDIR)/debian/bsp-solidrun-imx8
export DESTDIR_8040=$(CURDIR)/debian/bsp-solidrun-8040

%:
	dh $@ --with=config-package

override_dh_auto_build:
	mkimage -A arm -O linux -T script -C none -a 0 -e 0 -d boot.txt boot.scr

override_dh_auto_install:
	# i.MX6 transitional boot-script for splitting out -eMMC DTB variants
	install -v -m644 -D boot.scr $(DESTDIR_BOOTSCR)/boot/boot.scr

	# i.MX6
	install -v -m644 -D flash-kernel/db $(DESTDIR_IMX6)/etc/flash-kernel/db.bsp
	install -v -m755 -D initramfs-tools/imx-sdma.sh $(DESTDIR_IMX6)/etc/initramfs-tools/hooks/imx-sdma
	install -v -m644 -D imx-hdmi-soc.conf $(DESTDIR_IMX6)/usr/share/alsa/cards/imx-hdmi-soc.conf
	install -v -m644 -D imx-spdif.conf $(DESTDIR_IMX6)/usr/share/alsa/cards/imx-spdif.conf
	install -v -m644 -D apt-preferences/bsp-solidrun-imx6 $(DESTDIR_IMX6)/etc/apt/preferences.d/bsp-solidrun-imx6

	# i.MX8
	install -v -m644 -D flash-kernel/db $(DESTDIR_IMX8)/etc/flash-kernel/db.bsp
	install -v -m644 -D apt-preferences/bsp-solidrun-imx8 $(DESTDIR_IMX8)/etc/apt/preferences.d/bsp-solidrun-imx8
	install -v -m755 -D initramfs-tools/ath10k-fw.sh $(DESTDIR_IMX8)/etc/initramfs-tools/hooks/ath10k-fw
	install -v -m644 -D firmware/Silex_OG_BE_FIX.bin $(DESTDIR_IMX8)/lib/firmware/ath10k/QCA6174/hw3.0/board.bin
	install -v -m755 -D initramfs-tools/imx-sdma.sh $(DESTDIR_IMX8)/etc/initramfs-tools/hooks/imx-sdma

	# 8040
	install -v -m644 -D flash-kernel/db $(DESTDIR_8040)/etc/flash-kernel/db.bsp
	install -v -m644 -D flash-kernel/armada-8040-clearfog-gt-8k.dtb $(DESTDIR_8040)/etc/flash-kernel/dtbs/armada-8040-clearfog-gt-8k.dtb

override_dh_installudev:
	dh_installudev --name=imx6
